<section *ngIf="!!reader" class="profile-section">
  <!-- <div class="heading heading-bottom-margin">Reader</div> -->
  <img class="profile-image shadow" [src]="reader.photoURL" alt="profile picture">
  <div>by {{reader.fullName}}</div>







  <!-- <div class="profile-details">
    <div class="info-pair">
        <span class="info-pair--property">Country</span>
        <span>{{reader.country}}</span>
      </div>
    <div class="info-pair">
      <span class="info-pair--property">Favorite Book</span>
      <span>{{reader.favoriteBook}}</span>
    </div>
    <div class="info-pair">
      <span class="info-pair--property">Favorite Quote</span>
      <span>Jodling is not</span>
    </div>
  </div>
  <button (click)="edit.emit()" mat-button mat-raised-button color="secondary">
    <i class="fas fa-user-edit"></i>&nbsp;&nbsp;Edit Profile</button> -->
</section>
