.spacer {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: -50px;
  background: #999;
  height: 3rem;
  z-index: 1;
}

.header--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
}

.menu--item {
  display: none;
}

.logo-text {
  text-transform: initial;
}

@media (max-width: 560px) {
  .menu--item {
    display: block;
  }  
}
