<div class="new">
    <div>
      <mat-form-field>
        <input [(ngModel)]="book.title" name="" matInput placeholder="Title" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input [(ngModel)]="book.author" name="" matInput placeholder="Author" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input [(ngModel)]="book.categories" name="" matInput placeholder="Category" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input [(ngModel)]="book.publisher" name="" matInput placeholder="Publisher" />
      </mat-form-field>
    </div>
  
    <div class="btn-wrapper">
      <button (click)="save()" mat-button mat-raised-button color="primary">SAVE</button>
      <button (click)="cancel()" mat-button mat-raised-button>CANCEL</button>
    </div>
  </div>
  