<div *ngIf="bookData">
  <div class="center">
    <mat-form-field>
      <input type="search" [(ngModel)]='searchTerm' matInput placeholder="Search book" (keyup.enter)="search()">
      <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<div *ngIf="bookData; else spinner" class="books">
  <mat-card class="book-card" *ngFor="let book of bookData">
    <mat-card-header>
      <mat-card-title>{{ book.volumeInfo.title }}</mat-card-title>
      <mat-card-subtitle>{{ book.volumeInfo.authors && book.volumeInfo.authors[0] }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]='book.volumeInfo.imageLinks.thumbnail' alt="Photo">
    <mat-card-content>
      <span *ngFor="let category of book.volumeInfo.categories" class="category">{{ category }}</span>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="addReading(book.volumeInfo)" mat-button>ADD READING</button>
      <button mat-button>MORE</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
