<div *ngIf="!!readings" class="readings-section">

  <div class="header-readings">
    <h3>Readings</h3>
    <a [routerLink]="['app/search-book']" class="new-reading">
      NEW
      <i class="fas fa-plus-circle"></i>
    </a>
  </div>

  <div class="reading" [ngClass]="{'reading__active': current?.id === reading.id}" *ngFor="let reading of readings"
    (click)="!isDeleting ? selectReading.emit(reading) : null">

    <div class="reading-details">
      <span class="title">{{reading.book.title}}</span>
      <span class="author">{{reading.book.author}}</span>
      <div class="tooltip">
        <i (click)="isDeleting = true; delete(reading)" class="delete clickable far fa-trash-alt"></i>
        <span class="tooltiptext">delete</span>
      </div>
    </div>

    <img [src]="reading.book.imageUrl" alt="book cover">

  </div>

</div>
