.header-readings {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.new-reading {
  padding: 0.4rem;
  background: tomato;
  border-radius: 4px;
}

.reading {
  max-width: 320px;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.2s;
  padding-left: 1rem;
  margin-bottom: 1rem;

  &:hover {
    background-color: beige;
    
    cursor: pointer;
  }

  &:hover .book-info .delete {
    display: block;
  }

  img {
    width: 3rem;
    height: auto;
    margin-right: 1.5rem;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 4rem;

    .author {
      font-size: 0.9rem;
    }

    .delete {
      display: none;
    }
  }
}

.reading__active {
  background-color: beige;
  border-left: 1.5px solid sandybrown;
}

/* Small Screens */
@media (max-width: 560px) {
  
  .header-readings {
    width: 100%;
  }
  
  .reading {
    width: 100%;

    .title {
      font-size: 1rem;
    }

    .author {
      font-size: 0.8rem;
    }
  }

  .delete {
    display: block;
  }
}
