.wrapper {
  width: 75%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5rem;
}

.reader-section {
  display: flex;
  flex-direction: column;

  .reader-section__reader {
    margin-bottom: 1.5rem;  
  }
}

.current-reading {
  height: 95vh;
  overflow-y: scroll;
}

.current-reading::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Small Screens */
@media (max-width: 560px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .current-reading {
    border-top: 0.5px #999 solid;
    padding-top: 2rem;

    height: initial;
    overflow-y: initial;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}