.wrapper {
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-gap: 3rem;
}

.reader-section {
  display: flex;
  flex-direction: column;

  .reader-section__reader {
    margin-bottom: 1.5rem;  
  }
}

/* Small Screens */
@media (max-width: 560px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}