.reader {
  padding: 1rem;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reader__image {
  width: auto;
  height: 5rem;
  margin-right: 1.2rem;
}

.reader__master-data {
  margin-left: 1rem;
}
