/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

body {
  font-family: Fredoka One, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  margin: 0px;
}

.container {
  max-width: 90%;
  overflow: hidden;
  margin: 5.5rem auto 0 auto;
}

.clickable:hover {
  cursor: pointer;
}

.info-pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
}

.info-pair--property {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: tomato;
  text-align: center;
  border-radius: 3px;
  padding: 2px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

a {
  text-decoration: none;
  color: black;
}

.heading {
  font-weight: 700;
}

.heading-bottom-margin {
  margin-bottom: 2rem;
}

.shadow {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.margin-b0ttom {
  margin-bottom: 1rem;
}

.action-buttom {
  padding: 0.4rem;
  background: tomato;
  border-radius: 3px;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
}

.readings-column-header {
  display: flex;
  justify-content: space-between;
  width: 320px;
}
