/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

body {
  font-family: Fredoka One, Verdana, sans-serif;
}

.container {
  max-width: 90%;
  overflow: hidden;
  margin: 5rem auto 0 auto;
}

.clickable:hover {
  cursor: pointer;
}

.info-pair {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.info-pair--property {
    font-size: 0.7rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(212, 157, 157);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 0.7rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

a {
  text-decoration: none;
  color: black;
}