img {
  width: 270px;
  height: auto;
}

.reading-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
}

/* .new {
    width: 300px;
}

.new textarea {
    width: 300px;
} */

/* .mat-form-field {
    display: block;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
} */

.quote {
    font-style: oblique;
}

.noteQuote {
    background: rgb(241, 236, 236);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.note-section {
    border: 1px solid;
    border-radius: 3px;
    padding: 15px;
}

.posted-date {
    margin-top: 10px;
    font-size: 0.7rem;
}