.wrapper {
  width: 100%;
}

.quote {
  font-style: oblique;   
  border-left: 0.2px solid;
  padding-left: 1.2rem;
  
  margin-top: 1rem;

}

.note,
.quote {
  white-space: pre-wrap;
  margin-left: 1rem;
}

.noteQuote {
  padding: 10px;
  margin-bottom: 1.5rem;
  border-left: 1.5px sandybrown solid;
}

.posted-date {
  font-size: 0.7rem;
}

.quote-info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.reading-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  img {
    width: auto;
    height: 14rem;
    margin-right: 1.2rem; 

  }
}

.reading-header--book {
  display: flex;
  padding: 1rem;
  border-left: 1.5px sandybrown solid;
}


textarea[name="quote"] {
  font-style: oblique;
}

textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  display: block;
  width: 95%;
  border-radius: 10px;
}


/* Small Screens */
@media (max-width: 560px) {
  .book--image__is-mobile {
  }
}