<div *ngIf="!!reading">
  <div class="heading heading-bottom-margin">Reading Space</div>

  <div [@fade-in]="currentState">

    <div class="reading-header">

      <div class="reading-header__book shadow">

        <div>
          <img class="shadow" [src]="reading.book.imageUrl" alt="">
        </div>

        <div>
          <div class="info-pair">
            <span class="info-pair--property">Author</span>
            <span>{{reading.book.author | defaultValue}}</span>
          </div>
          <div class="info-pair">
            <span class="info-pair--property">Title</span>
            <span>{{ reading.book.title | defaultValue }}</span>
          </div>
          <div class="info-pair">
            <span class="info-pair--property">Category</span>
            <span>{{ reading.book.categories | defaultValue }}</span>
          </div>
          <div class="info-pair">
            <span class="info-pair--property">Publisher</span>
            <span>{{ reading.book.publisher | defaultValue }}</span>
          </div>
          <div class="info-pair">
            <span class="info-pair--property">Year Published</span>
            <span>{{ reading.book.published | date | defaultValue }}</span>
          </div>
          <mat-form-field *ngIf="isOwner">
            <mat-select (selectionChange)="changeStatus($event.value)" placeholder="Privacy" [(ngModel)]="reading.status" name="status">
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="isOwner" class="reading-header__controls">
          <i (click)="deleteReading.emit(reading)" class="far fa-trash-alt"></i>
        </div>
      </div>



    </div>

    <lr-quote-note *ngFor="let quoteNote of reading.quoteNotes"
      [isOwner]="isOwner"
      [quoteNote]="quoteNote" 
      [isEditing]="editModeMap[quoteNote.id]"
      (deleteNote)="deleteNote.emit($event)" 
      (saveNote)="saveNote($event)">
    </lr-quote-note>

    <div>
      <button *ngIf="!newQuote && isOwner" mat-raised-button (click)="addNewNote()">NEW NOTE</button>
    </div>

    <div class="new-note" *ngIf="!!newQuote && isOwner">
      <textarea lrDynamicTextarea [ngClass]="{'visible': !!newQuote}" [(ngModel)]="newQuote.quote" name="quote" wrap="hard" placeholder="quote">
      </textarea>

      <textarea lrDynamicTextarea [ngClass]="{'visible': !!newQuote}" [(ngModel)]="newQuote.note" name="note" wrap="hard" placeholder="notes"></textarea>

      <div>
        <button mat-raised-button (click)="saveNewNote()">Save</button>
      </div>
    </div>


  </div>
</div>
